
table th {
    background-color: lightgray; 
    border: 2px solid black; 
    padding: 10px; 
}

table td {
    border: 2px solid black; 
    padding: 10px; 
}


table {
    margin: 100px; 
}

.img1, .img2, .img3 {
    height: 150px;
    width: 150px;
}


.img1 {
    height: 50%; 
    width: 50%; 
}

.img2 {
    height: 10pt; 
    width: 2in;  
}

.img3 {
    height: 25mm; 
    width: 100px; 
}


.img1, .img2, .img3 {
    border: 5px dashed red; 
    padding: 30px; 
}

.custom-paragraph {
    text-align: center; 
    text-decoration: underline;
    text-transform: uppercase; 
    font-family: monospace; 
    font-size: 25px; 
}

.red-hover:hover {
    color: red;
}


.gray-visited:visited {
    color: gray;
}


.orange-active:active {
    color: orange;
}